<div class="tile is-parent">
  <article class="tile is-child is-light notification">
    <p class="title">
      <a href="{{post.link}}">
        {{post.title}}
      </a>
    </p>
    <hr>
    <p class="subtitle">
      Posted on {{post.post_date|date('F d, Y')}}
    </p>
    {% if post.get_thumbnail %}
      <figure class="image">
        <img src="{{post.thumbnail.src}}">
      </figure>
    {% endif %}
    <div class="content">
      {{post.preview}}
    </div>
  </article>
</div>
